@font-face {
    font-family: 'nintendo_NTLG-DB_002';
    src: local('nintendo_NTLG-DB_002'), local('nintendoNTLG-DB002'),
        url('./Fonts/nintendoNTLG-DB002.woff2') format('woff2'),
        url('./Fonts/nintendoNTLG-DB002.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #373737;
    background-image: url(./Files/Images/BGTileBW.png);
    background-size: 32px;
    color: #ffffff;
    flex-direction: column;
    font-family: nintendo_NTLG-DB_002, sans-serif;
}

.pill{
    border-radius: 50pt;
    /*height: 10%;*/
    width: 80vw;
    max-width: 800px;
    display: flex;
    align-items: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: azure;
    text-decoration: none;
    font-size: 150%;
    margin-bottom: 1%;
}
.pill p{
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
}

.icon{
    height: 7vh;
    margin-left: 5%;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.subtext{
    margin-top: -20px;
    font-weight: inherit;
}

#pfp{
    height: 35%;
    border-radius: 20%;
    position: bottom;
}

#github{
    background: black;
}

#mastodon{
    background: #17063B;
}