@font-face {
    font-family: 'nintendo_NTLG-DB_002';
    src: local('nintendo_NTLG-DB_002'), local('nintendoNTLG-DB002'),
        url('./Fonts/nintendoNTLG-DB002.woff2') format('woff2'),
        url('./Fonts/nintendoNTLG-DB002.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #373737;
    background-image: url(./Files/Images/BGTileBW.png);
    background-size: 32px;
    color: #ffffff;
    flex-direction: column;
    font-family: nintendo_NTLG-DB_002, sans-serif;
}

h1 {
    font-size: min(5vh,5vw);
}

.pill{
    border-radius: 50pt;
    /*height: 10%;*/
    width: 80vw;
    max-width: 80vh;
    height: 7vh;
    padding: 1vh;
    margin-bottom: 2vh;

    display: flex;
    align-items: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: azure;
    text-decoration: none;
    font-size: 150%;
    background-image: url(./Files/Images/Shine.png);
    background-size: 100% 100%;
    box-shadow: 0 10px 10px #00000080;
}
.pill p {
    /*
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    */
    width: inherit;
    text-align: center;
    font-size: 3vh;
}

.icon {
    /*height: 7vh;*/
    height: inherit;
    margin-left: max(1vw,1vh);
    position: absolute;
    /*margin-bottom: 1vh;
    margin-top: 1vh;*/
}

.subtext {
    margin-top: 0;
    font-weight: inherit;
    font-size: max(1.5vw,1.5vh);
    text-shadow: 0 10px 10px #00000080;
}

#welcomeText {
    font-size: min(5vh,5vw);
    margin-bottom: 0;
    text-shadow: 0 10px 10px #00000080;
}

#pfp {
    height: min(30vh,50%);
    border-radius: 20%;
    position: bottom;
    box-shadow: 0 10px 10px #00000080;
}

#github {
    background-color: black;
}

#mastodon {
    background-color: #17063B;
}