body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #373737;
    color: #AAAAAA;
    flex-direction: column;
}

.pill{
    background: black;
    border-radius: 50pt;
    height: 8vh;
    width: 50vh;
    display: flex;
    align-items: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: azure;
    text-decoration: none;
    font-size: larger;
}
.pill p{
    margin: auto;
}

.icon{
    height: 75%;
}

#pfp{
    height: 35vh;
    border-radius: 20%;
    position: bottom;
}

