body{
    height: 480px !important;
}
#top{
    /*
    min-width: 100vw; /*400px
    min-height: 240px;
    */
    min-height: 240px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#bottom{
    min-height: 240px;
    text-align: center;
}