a {
    text-decoration: none;
    color: white;
}

i a {
    color: #c0c0c0;
}

ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    text-shadow: 0 6px 6px #000000d0;
}

li a {
    display: block;
    font-size: max(1vh,1vw);
}