@font-face {
    font-family: 'nintendo_NTLG-DB_002';
    src: local('nintendo_NTLG-DB_002'), local('nintendoNTLG-DB002'),
        url('/Files/Fonts/nintendoNTLG-DB002.woff2') format('woff2'),
        url('/Files/Fonts/nintendoNTLG-DB002.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #373737;
    background-image: url(/Files/Images/BGTileBW.png);
    background-size: 32px;
    color: #ffffff;
    flex-direction: column;
    font-family: nintendo_NTLG-DB_002, sans-serif;
}

h1 {
    font-size: min(5vh,5vw);
}

.navbarText {
    text-align: center;
    float: left;
    width: 2vw;
}

.navbarText a {
    text-decoration: none;
    color: white;
    padding-left: 2vw;
    display: block;
}

.subtext {
    margin: 0;
    font-weight: inherit;
    font-size: max(1.5vw,1.5vh);
    text-shadow: 0 10px 10px #00000080;
}

#title {
    margin: 0;
}

#navbar {
    margin: 2vh;
    padding-left: 0;
    list-style-type: none;
    font-weight: normal;
}